body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

h2 {
    color: orange;
    margin-left: 20px;
}

h3 {
    color: rebeccapurple;
    margin-left: 20px;
}